section {
  margin-top: 6em;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding-inline: 6em;
}

aside {
  flex-basis: 20%;
}

menu {
  width: 100%;
  padding: 1.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgb(232, 232, 232), rgb(251, 206, 213));
}

menu h5 {
  font-size: max(1em, 1vw);
}

menu p {
  background-color: rgb(108, 108, 255);
  color: white;
  padding: 0.1em 0.4em;
  border-radius: 50%;
  font-size: max(1em, 1vw);
  cursor: pointer;
}

aside ul {
  padding: 0.5em;
}

aside ul li {
  padding: 0.5em;
}

.menu_toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-wrap: break-word;
  width: 100%;
}

.menu_toggle p {
  font-size: max(0.9em, 0.9vw);
  color: rgb(0, 0, 55);
  font-weight: 600;
}
.toggle {
  width: 1.5em;
  height: 3px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 1em;
}

.toggle_ball,
.toggled_ball {
  background-color: rgb(0, 0, 0);
  width: 0.7em;
  height: 0.7em;
  display: block;
  border-radius: 50%;
  transition: 0.5s;
}

.toggled_ball {
  transform: translateX(110%);
  background-color: rgb(102, 102, 255);
}

.toggle:has(> .toggled_ball) {
  background-color: rgb(102, 102, 255);
}

@media screen and (max-width: 734px) {
  section{
 flex-direction: column;
 padding-inline: 1em;
  }

  aside{
    flex-basis: 100%;
    width: 100%;
  }
}
